body {
            padding: 0;
            margin: 0;
            background-color: #d7d7d7;
            background-image: url(../Imagenes/yosi.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .mainContainer {
            background-color: #3498db;
            min-width: 80%;
            margin: 20px auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .ulMain {
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%;
        }

        .ulMain li {
            background-color: #ecf0f1;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            background-color: red;
        }

        .pagination li {
            background-color: #3498db;
            color: #fff;
            padding: 8px 12px;
            margin: 0 5px;
            border-radius: 5px;
            cursor: pointer;
            list-style: none;
        }